* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to right, rgba(53,61,80,.98), rgba(145, 163, 207, 0.98))
}

.form-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.form-container__tittle {
  font-size: 42px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 30px;
}

 .input-text {
  margin-bottom: 20px;
  padding: 10px 40px 10px 10px;
  outline: none;
  color: grey;
}

button {
  border: 0;
  color: #fff;
  background-color: black;
  padding: 10px 40px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: rgb(136, 255, 245)
}

/* Home */

.home-container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(238, 243, 255);
  padding: 10px 10px;
  position: relative;
  width: 100%;
  display: flex;
}
header button {
  margin-left:auto; 
  margin-right:0;
}

main {
  padding-top: 100px;
  margin: auto;
  align-items: center;
  display: flex;
  color: #fff;
  flex-direction: column;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

li + li {
  margin-top: 20px;
}

li {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 50px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img {
  margin-top: 20px;
  width: 20%;
}

.input-file {
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

.delete {
  cursor: pointer;
  position: absolute;
  right: 10px;
}